<template name="AdminClients">
    {{> ContentHeader header_title="Clients"}}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <a href="#" id="addClientBtn" class="btn btn-success" type="button">
                            <i class="fa fa-group"></i>
                            <br>ADD CLIENT</a>
                    </div>
                    <div class="panel-body">
                        {{> tabular table=TabularTables.Clients class="display table table-bordered dataTable"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="ClientActionsRow">
    <button class="btn btn-info btn-xs" data-toggle="modal" type="button">
        <i class="fa fa-paste"></i>Edit
    </button>
    <button class="btn btn-xs btn-danger delete-client" type="button">
        <i class="fa fa-trash-o"></i>
        <span class="bold">Delete</span>
    </button>
</template>

<template name="ClientCheckbox">
  <div class="checkbox">
    <label>
      <input type="checkbox">
    </label>
  </div>
</template>

<template name="ModalAddClient">
    <div class="modal fade" id="addClient" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Add client</h4>
                </div>
                <div class="modal-body">
                    <div class="hpanel">
                        <div class="panel-body">
                            {{> AddClientForm}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AddClientForm">
    {{#autoForm collection="Clients" id="addClientForm" type="method" meteormethod="addClient"}}
    <fieldset>
        {{> afQuickField name='name'}} {{> afQuickField name='country'}} {{> afQuickField name='city'}}
    </fieldset>
    <button type="button" id="cancelAddClient" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    <button type="submit" id="saveAddClient" class="btn btn-success">Save changes</button>
    {{/autoForm}}
</template>
