<template name="AdminUsers">
    {{> ContentHeader header_title="Users"}}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <button class="btn btn-success" type="button"><i class="fa fa-group"></i> <br>ADD USER</button>
                    </div>
                    <div class="panel-body">
                        {{> reactiveTable class="display table table-bordered dataTable" collection=usersCol settings=settings}}
                    </div>
<!--                     Modal inserted by bootstrap-3-modal package-->
                </div>
            </div>
        </div>
    </div>
</template>
