<template name="login">
<div class="login-container">
    <div class="row">
        <div class="col-sd-12">
            <div class="text-center m-b-md">
                <h3>PLEASE LOGIN TO APP</h3>
                <small>This is the best app ever!</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="#" id="loginForm" novalidate>
                            <div class="form-group">
                                <label class="control-label" for="email">Email</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you email" required="" value="" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                            <a class="btn btn-default btn-block" href="#" data-toggle="modal" data-target="#modalForgotPass">Forgot password?</a>
                            {{> modalForgotPass}}
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sd-12 text-center">
            <strong>ProjectX</strong> - Un proiect care este <br/> 2015 Copyright Compania Viselor
        </div>
    </div>
</div>
</template>