<template name="modalForgotPass">
  <div id="modalForgotPass" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
    <h2 id="modalTitle" class="modal-title">Ok. We are only human. <i class='fa fa-child'></i></h2>
    <span class="font-bold">Anybody can forget a password. Type it here and we'll email you a link for resetting it</span>
  </div>
      <div class="modal-body">
      <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2 animated-panel zoomIn" style="-webkit-animation-delay: 0.4s;">
          <input type="text" placeholder="Your email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <input type="submit" id="btnForgot" class="btn btn-info" value="Reset password">
        </div>
      </div>
    </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class='fa fa-times'></i>Close</button>
    </div>
    </div>
  </div>
  </div>
</template>